{% extends 'base_generic.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href='{% static 'app/css/signin.css' %}' />
<img class="mb-4" src='{% static 'app/img/logo.png' %}' alt="" width="300" height="100">
<h1 class="h3 mb-3 font-weight-normal">Ennova CED - Reset Password</h1>
{% if validlink %}
 <body class="text-center">
<p>{% trans "Per favore scrivi la password due volte per verificare che essa sia corretta." %}</p>
  
<form class="form-signin" method="post">{% csrf_token %}  
<fieldset class="module aligned">
    <div class="form-row field-password1">	
	    {{ form.new_password1.errors }}
	    <label for="id_new_password1">{% trans 'Nuova password:' %}</label>
	    {{ form.new_password1 }}
	</div>
	<div class="form-row field-password2">
	    {{ form.new_password2.errors }}
	    <label for="id_new_password2">{% trans 'Ripeti password:' %}</label>
	    {{ form.new_password2 }}
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Cambia Password</button>
</fieldset>
</form>
  {% else %}
    <p>
      Il link per il reset della password non è valido, probabilmente è già stato utilizzato.
      Per favore effettua nuovamente il reset.
    </p>
  {% endif %}
{% endblock %}