{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<body class="text-center">
    <link href='{% static 'app/css/signin.css' %}' rel="stylesheet">
    <img class="mb-4" src='{% static 'app/img/logo.png' %}' alt="" width="300" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Ennova CED</h1>
    <div class="container">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="group">
                {% csrf_token %}
                <h5> Ti abbiamo spedito le istruzioni per resettare la password, riceverai le istruzioni a breve.</h5>
                <h5> Se non ricevi la mail, assicurati di aver inserito quella associata alla tua user, o controlla la cartella spam.</h5>
        		<br>
        		<h4><a href="{% url 'login' %}">Torna al Login</a></h4>
        	</div>
        </div>
        <div class="col-lg-3">
        </div>

    </div>
</body>
{% endblock %}
