{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
<body class="text-center">
    <link href='{% static 'app/css/signin.css' %}' rel="stylesheet">
    <img class="mb-4" src='{% static 'app/img/logo.png' %}' alt="" width="300" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Ennova CED</h1>
<div class="container">
  <form class="form-signin" method="post">
        <div class="group">
        {% csrf_token %}
		<input type="email" id="inputmail" name="email" class="form-control" placeholder="Email" required autofocus alt="">
		<br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Invia</button>
		</div>
  </form>
 </div>
</body>
{% endblock %}
